html, body {
    margin: auto;
    width: 100vw;
    height: 100%;
    font-family: Copperplate, Papyrus, fantasy;
    color:black;
    line-height: 2;
    box-sizing: border-box;
    padding-left:15px;
    padding-right: 15px;
}

.container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "header header header"
                        "nav about timeline"
                        "nav portraits timeline"
                        ".  form ."
                        "resources1 resources2 resources3";
    gap: 10px;
    background-color: white;
}

header > h1 {grid-area:header;}
.nav {grid-area: nav;}
.timeline {grid-area:timeline;}
.about {grid-area: about;}
.portraits {grid-area: portraits;}
.resources1 {grid-area:resources1;}
.resources2 {grid-area:resources2;}
.resources3 {grid-area:resources3}
.form {grid-area:form;}


.nav{
    grid-row-start: 2;
}

header > h1 {
    border-color: rgb(246, 80, 221);
    font-size: xx-large;
    font-family: Courier, monospace;
}


header {
    grid-template-rows: auto;
    grid-column: 1/4;
    padding:20px;
    text-align: center;

    background-image: url(QueLoQue\ Logo\ Cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 67%;
}


ul {
    text-decoration: none;
    list-style: none;
}

.footer-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

.footer-container li a:hover{
    color:blue;
    text-decoration: underline;
}

.footer-container li a{
    text-decoration: none;
    color:purple;
    padding: 5px;
    display:block;
}

footer{
    background-color: pink;
    padding-top: 20px;
    grid-column: 1/4;
}

.resources1{
    grid-row:4;
    grid-column:1;
    grid-template-rows: auto;
    justify-items: center;
}

.resources2{
    grid-row: 4;
    grid-column: 2;
    grid-template-rows: auto;
    justify-items: center;
}

.resources3{
    grid-row: 4;
    grid-column:3;
    grid-template-rows: auto;
    justify-items: center;
}

footer > p {
    justify-items:center;
    justify-content:stretch;
    display: grid;
    grid-row:6;
    grid-column:1/4;
    background-color: rgb(233, 222, 224);
}

.resource-title{
    justify-items:center;
    justify-content:stretch;
    padding-top: 20px;
    grid-column: 1/4;
}


.form {
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: double 5px black;
}