html, body {
    margin: auto;
    width: 100vw;
    height: 100%;
    font-family: Courier, monospace;
    color:black;
    line-height: 2;
    box-sizing: border-box;
    padding:5px;
}

.container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: (1fr, 2fr, 1fr);
    grid-template-areas: "header header header"
                        "nav about timeline"
                        "form portraits timeline"
                        "resources1 resources2 resources3";
    gap: 10px;
    padding: 5px;
}

header {grid-area:header;}
nav {grid-area: nav;}
.timeline {grid-area:timeline;}
.about {grid-area: about;}
.portraits {grid-area: portraits;}
.resources1 {grid-area:resources1;}
.resources2 {grid-area:resources2;}
.resources3 {grid-area:resources3}
.form {grid-area:form;}


body > * {
    outline: 2px dashed blue;
}

section > *{
    outline: 2px dashed red;
}

header > nav{
    grid-row-start: 2;
}

header {
    font-size: x-large;
    grid-template-rows: auto;
    grid-column: 1/4;
    background-color:pink;
    color:white;
    padding:20px;
    text-align: center;
}

ul {
    text-decoration: none;
    list-style: none;
}

.footer-container{
    display: grid;
    grid-template-columns:1fr,1fr, 1fr;
}

.footer-container li a:hover{
    color:blue;
    text-decoration: underline;
}

.footer-container li a{
    text-decoration: none;
    color:purple;
    padding: 5px;
    display:block;
}

footer{
    background-color: lightpink;
    padding-top: 20px;
    grid-column: 1/4;
}

.resources1{
    grid-row:4;
    grid-column:1;
    grid-template-rows: auto;
    justify-items: center;
}

.resources2{
    grid-row: 4;
    grid-column: 2;
    grid-template-rows: auto;
    justify-items: center;
}

.resources3{
    grid-row: 4;
    grid-column:3;
    grid-template-rows: auto;
    justify-items: center;
}

footer > p {
    justify-items:center;
    justify-content:stretch;
    display: grid;
    grid-row:6;
    grid-column:1/4;
    background-color: pink;
}

.resource-title{
    justify-items:center;
    justify-content:stretch;
    padding-top: 20px;
    grid-column: 1/4;
}

.portraits > ul li {
    grid-template-columns: repeat (2,1fr);
    grid-template-rows: (1fr,1fr);
}


/*CSS for Image Gallery*/

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}